<mt:setvarblock name="page_title"><__trans phrase="Cloudfront Create Invalidation"></mt:setvarblock>
<mt:setvarblock name="page_content">
<p class="">
CloudFrontへInvalidationを登録しました。<br />
run-periodic-tasksの実行までお待ち下さい。<br />
実行結果はログに記録されます。
</p>
</mt:setvarblock>

<mt:include name="layout/default.tmpl">
<mt:var name="layout">

