<mt:setvarblock name="page_title"><__trans phrase="Cloudfront Create Invalidation"></mt:setvarblock>

<mt:setvarblock name="version"><$mt:Version$></mt:setvarblock>

<mt:if name="version" lt="7.0">
    <mt:include name="include/header.tmpl">
</mt:if>

<mt:setvarblock name="page_content">
<p class="">
CloudFrontへInvalidationを登録しました。<br />
run-periodic-tasksの実行までお待ち下さい。<br />
実行結果はログに記録されます。
</p>
</mt:setvarblock>

<mt:if name="version" lt="7.0">
<mt:var name="page_content">
<mt:include name="include/footer.tmpl">
<mt:else>
<mt:include name="layout/default.tmpl">
<mt:var name="layout">
</mt:if>

