<mt:setvarblock name="page_title"><__trans phrase="EC2 Describe Snapshot"></mt:setvarblock>

<mt:setvarblock name="version"><$mt:Version$></mt:setvarblock>

<mt:if name="version" lt="7.0">
    <mt:include name="include/header.tmpl">
</mt:if>

<mt:setvarblock name="page_content">
<p class="">5分毎に更新しています</p>
<p class="content">
<mt:if name="data">
<table id="awsutils" class="">
<tr class="">
<th class="">SnapshotId</th>
<th class="">StartTime</th>
<mt:loop name="data">
<tr class="">
<td class=""><mt:var name="SnapshotId"></td>
<td class=""><mt:var name="StartTime"></td>
</tr>
</mt:loop>
</table>
<mt:else>
現在snapshotはありません
</mt:if>
</p>
</mt:setvarblock>

<mt:if name="version" lt="7.0">
<mt:var name="page_content">
<mt:include name="include/footer.tmpl">
<mt:else>
<mt:include name="layout/default.tmpl">
<mt:var name="layout">
</mt:if>

