<mt:setvarblock name="page_title"><__trans phrase="EC2 Describe Snapshot"></mt:setvarblock>
<mt:setvarblock name="page_content">
<p class="content">
<ul>
<mt:loop name="data">
<li>CreateStartTime:<mt:var name="StartTime"></li>
<li>SnapshotId:<mt:var name="SnapshotId"></li>
</mt:loop>
</ul>
</p>
</mt:setvarblock>
<mt:include name="layout/default.tmpl">
<mt:var name="layout">


